<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username">userName</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="userName" id="userName">
      <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">The input is
        not valid UserName
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="password" id="password">
      <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">The input is
        not valid Password!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nowPassword">NowPassword</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="nowPassword" id="nowPassword">
      <nz-form-explain *ngIf="validateForm.get('nowPassword').dirty && validateForm.get('nowPassword').errors">The input
        is not valid NowPassword!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <button nz-button class="submit-button" type="submit" [nzType]="'primary'">提交</button>
</form>
