<p style="font-size: 30px;color: #000c17;text-align: left">订单详细信息展示</p>
<nz-table [nzData]="orderItemList" [nzPageSize]="1" #nzTable>
  <tbody *ngFor="let orderItem of nzTable.data">
  <tr>
    <td>ID</td>
    <td>订单Id</td>
    <td>订单项来源Id</td>
    <td>订单项来源类型</td>
  </tr>
  <tr >
    <td>{{orderItem.id}}</td>
    <td>{{orderItem.orderId}}</td>
    <td>{{orderItem.sourceId}}</td>
    <td>{{orderItem.sourceType}}</td>
  </tr>
  <tr>
    <td>原价</td>
    <td>成本价</td>
    <td>销售价</td>
    <td>立减价格</td>
  </tr>
  <tr *ngFor="let orderItemPrice of orderItem.orderItemPriceList">
    <td>{{orderItemPrice.originalPrice}}</td>
    <td>{{orderItemPrice.costPrice}}</td>
    <td>{{orderItemPrice.sellPrice}}</td>
    <td>{{orderItemPrice.reduceProductPrice}}</td>
  </tr>

  <tr>
    <td>产品总价减价</td>
    <td>商品优惠卷减价金额</td>
    <td>商品红包减价金额</td>
    <td>订单满减金额</td>
  </tr>
  <tr *ngFor="let orderItemAmount of orderItem.orderItemAmountList">
    <td>{{orderItemAmount.reduceCouponAmount}}</td>
    <td>{{orderItemAmount.reduceProductAmount}}</td>
    <td>{{orderItemAmount.reduceBonusAmount}}</td>
    <td>{{orderItemAmount.reduceOrderAmount}}</td>
  </tr>
  <tr>
    <td>产品skuId</td>
    <td>产品sku版本号</td>
    <td>销售规格ID</td>
    <td>产品名称</td>
  </tr>
  <tr *ngFor="let orderItemProduct of orderItem.orderItemProductList">
    <td>{{orderItemProduct.productId}}</td>
    <td>{{orderItemProduct.productVersion}}</td>
    <td>{{orderItemProduct.productSaleSpecId}}</td>
    <td>{{orderItemProduct.productName}}</td>
  </tr>
  </tbody>
</nz-table>
<div style="text-align: center">
  <a routerLink="/order">
    <button nz-button nzType="primary">确定</button>
  </a>
</div>
