<div *ngIf="orderDetail">
  <nz-table [nzData]="orderDetail.orderItem">
    <thead>
    <tr>
      <th>ID</th>
      <th>订单Id</th>
      <th>订单项来源类型</th>
      <th>配送系数</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{orderDetail.orderItem.id}}</td>
      <td>{{orderDetail.orderItem.id}}</td>
      <td>{{orderDetail.orderItem.sourceId}}</td>
      <td>{{orderDetail.orderItem.remark}}</td>
    </tr>
    </tbody>
    <tfoot></tfoot>
  </nz-table>
  <nz-table [nzData]="orderDetail.orderItemPrice">
    <thead>
    <tr>
      <th>原价</th>
      <th>成本价</th>
      <th>销售价</th>
      <th>立减价格</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{orderDetail.orderItemPrice.id}}</td>
      <td>{{orderDetail.orderItemPrice.orderId}}</td>
      <td>{{orderDetail.orderItemPrice.sellPrice}}</td>
      <td>{{orderDetail.orderItemPrice.reduceProductPrice}}</td>
    </tr>
    </tbody>
    <tfoot></tfoot>
  </nz-table>
  <nz-table [nzData]="orderDetail.orderItemAmount">
    <thead>
    <tr>
      <th>产品总价减价</th>
      <th>商品优惠卷减价金额</th>
      <th>商品红包减价金额</th>
      <th>订单满减金额</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{orderDetail.orderItemAmount.reduceCoupOnAmount}}</td>
      <td>{{orderDetail.orderItemAmount.reduceProductAmount}}</td>
      <td>{{orderDetail.orderItemAmount.reduceBonusAmount}}</td>
      <td>{{orderDetail.orderItemProduct.productName}}</td>
    </tr>
    </tbody>
    <tfoot></tfoot>
  </nz-table>
  <nz-table [nzData]="orderDetail.orderItemProduct">
    <thead>
    <tr>
      <th>产品skuId</th>
      <th>产品sku版本号</th>
      <th>销售规格ID</th>
      <th>产品名称</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{orderDetail.orderItemProduct.productId}}</td>
      <td>{{orderDetail.orderItemProduct.productVersion}}</td>
      <td>{{orderDetail.orderItemProduct.productSaleSpecId}}</td>
      <td>{{orderDetail.orderItemProduct.productName}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
<div *ngIf="!orderDetail" style="text-align: center"><p style="color: black;font-size: medium">暂无数据</p></div>
<div style="text-align: center">
  <a routerLink="/order">
    <button nz-button nzType="dashed">确定</button>
  </a>
  <router-outlet></router-outlet>
</div>
