.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.order .text {
  position: relative;
  top: -3px;
}
.order .badge {
  display: inline-block;
  font-size: small;
  color: rosybrown;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: 0px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
 a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
 a:visited, a:link {
  color: #607D8B;
}
 a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
 a.active {
  color: #039be5;
}
#search-box {
  width: 300px;
  height: 30px;
}
table{
  border-right:1px;
  cursor: pointer;
  position: relative;
  left: 1em;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
td{
  width: 100px;
}
a{
  color: #607D8B;
}
div{
  margin: auto;
}
[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
