<div *ngIf="listOrder">
  <nz-header  style="background: #EEEEEE">
    <ul nz-menu  [nzMode]="'horizontal'"style="background: #EEEEEE">
      <li nz-menu-item>
        <button nz-button [disabled]="_disabledButton" [nzType]="'primary'" [nzLoading]="_operating" (click)="deleteAll()">DeleteAll</button>
        <span style="margin-left: 8px;" *ngIf="_checkedNumber">Selected {{_checkedNumber}} items</span>
      </li>
      <li nz-menu-item  ><a routerLink="/order-add/{{0}}"><button nz-button nzType="primary">增 加</button></a>
        <router-outlet></router-outlet>
      </li>
      <li nz-menu-item><nz-cascader
        [nzOptions]="_options"
        (nzChange)="_console($event)">
      </nz-cascader>
      </li>
      <li nz-menu-item >  <nz-input-group [nzSuffix]="suffixIconSearch" id="search-box" >
        <input type="text" nz-input placeholder="搜索"  #searchBox  (keyup)="search(searchBox.value)" placeholder=" 请输入城市Id">
      </nz-input-group>
        <ng-template #suffixIconSearch >
          <i nz-icon type="search"></i>
        </ng-template>
      </li>
    </ul>
  </nz-header>
  <div style="height: 10px"></div>
<nz-layout>
  <nz-table #nzTable [nzData]="listOrder"  [nzPageSize]="6" (nzDataChange)="_displayDataChange($event)" (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()">
    <thead nz-thead>
    <tr>
  <!--    <th nz-th nzCheckbox>
        <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
        </label>
      </th>-->
      <th>下单批次</th><th>城市Id</th><th>订单编号</th><th>当前版本</th><th>订单类型</th><th>订单状态</th><th>详细</th><th>删除</th><th>修改</th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let order of nzTable.data">
  <!--    <td nz-td nz-checkbox>
        <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
        </label>
      </td>-->

      <td>{{order.id}}</td><td>{{order.cityId}}</td><td>{{order.orderno}}</td><td>{{order.ordertype}}</td><td>{{order.verison}}</td><td>{{order.ordertype}}</td>
      <td>

        <a routerLink="/order-detail/{{order.id}}" ><button nz-button nzType="primary">详情</button></a>
      </td>
      <td>  <a><button nz-button nz-popconfirm nzType="primary" nzTitle="Are you sure delete this task?" (nzOnConfirm)="confirm(order.id)" (nzOnCancel)="cancel()">Delete</button></a></td>
      <td>
        <a routerLink="/order-add/{{order.id}}" ><button nz-button nzType="primary">修改</button></a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-layout>
</div>
<div *ngIf="isOrder" style="text-align: center"><p style="color: black">暂无数据</p></div>



