<div nz-row>
  <div nz-col nzSpan="4" style="text-align: left">
    <a routerLink="/order-add/{{0}}">
      <button nz-button nzType="primary">增 加</button>
    </a>
  </div>
  <div nz-col nzSpan="4" nzPull="2">
    <a><button nz-button nzType="primary" (click)="deleteAll()">DeleteAll</button></a>
    </div>
  <div nz-col nzSpan="8" nzPush="6">
    <nz-cascader
      [nzOptions]="_options"
      (nzChange)="_console($event)">
    </nz-cascader>
  </div>
  <div nz-col nzSpan="8" nzPush="2">
    <nz-input-group [nzSuffix]="suffixIconSearch" id="search-box">
      <input type="text" nz-input #searchBox (keyup)="search(searchBox.value)"
             placeholder=" 请输入城市Id">
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon type="search"></i>
    </ng-template>
  </div>
</div>
<nz-layout>
  <nz-table #nzTable [nzData]="listOrder" [nzPageSize]="6" >
    <thead nz-thead>
    <tr>
      <th nzWidth="62px" nzShowCheckbox  [(nzChecked)]="allChecked"
          [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
      <th>下单批次</th>
      <th>城市Id</th>
      <th>订单编号</th>
      <th>当前版本</th>
      <th>订单类型</th>
      <th>订单状态</th>
      <th>详细</th>
      <th>删除</th>
      <th>修改</th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let order of nzTable.data">
      <td nzShowCheckbox  [(nzChecked)]="order.checked" (nzCheckedChange)="refreshStatus()"></td>
      <td>{{order.id}}</td>
      <td>{{order.cityId}}</td>
      <td>{{order.orderNo}}</td>
      <td>{{order.orderType}}</td>
      <td>{{order.verison}}</td>
      <td>{{order.orderType}}</td>
      <td>

        <a routerLink="/order-detail/{{order.id}}">
          <button nz-button nzType="primary">详情</button>
        </a>
      </td>
      <td><a>
        <button nz-button nz-popconfirm nzType="primary" nzTitle="Are you sure delete this task?"
                (nzOnConfirm)="confirm(order.id)">Delete
        </button>
      </a></td>
      <td>
        <a routerLink="/order-add/{{order.id}}">
          <button nz-button nzType="primary">修改</button>
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-layout>


