
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="margin: auto;height: 100%;width:100% ">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="id" nzRequired>
          <span>
           ID
            <i nz-icon nz-tooltip nzTitle="What do you want other to call you" type="question-circle" theme="outline"></i>
          </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" >
      <input nz-input id="id" formControlName="id" [placeholder]="orderItem?.id" >
      <nz-form-explain *ngIf="validateForm.get('id').dirty && validateForm.get('id').errors">Please input your id!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="orderid" nzRequired> OrderId</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" >
        <input formControlName="orderid" id="'orderid'" nz-input [placeholder]="orderItem?.orderid">
      <nz-form-explain *ngIf="validateForm.get('orderid').dirty && validateForm.get('orderid').errors">Please input your orderID !</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark" nzRequired>Remark</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="remark" formControlName="remark" [placeholder]="orderItem?.remark">
      <nz-form-explain *ngIf="validateForm.get('remark').dirty && validateForm.get('remark').errors">Please input website!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sourcetype" nzRequired> Sourcetype</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="sourcetype" formControlName="sourcetype" [placeholder]="orderItem?.sourcetype">
      <nz-form-explain *ngIf="validateForm.get('sourcetype').dirty && validateForm.get(' sourcetype').errors">Please input  sourcetype!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sourceId" nzRequired> SourceId</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="sourceId" formControlName="sourceId" [placeholder]="orderItem?.sourceId">
      <nz-form-explain *ngIf="validateForm.get('sourceId').dirty && validateForm.get('sourceId').errors">Please input sourceId!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="createtime" nzRequired>Createtime</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-date-picker formControlName="createtime" ></nz-date-picker>
      <nz-form-explain *ngIf="validateForm.get('createtime').dirty && validateForm.get('createtime').errors">Please input createtime!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="producttype" [nzRequired]>producttype</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="producttype" formControlName="producttype" [placeholder]="orderItem?.producttype">
      <nz-form-explain *ngIf="validateForm.get('producttype').dirty && validateForm.get('producttype').errors">Please input producttype!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastmodifytime" nzRequired>Lastmodifytime</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-date-picker  formControlName="lastmodifytime"></nz-date-picker>
      <nz-form-explain *ngIf="validateForm.get('lastmodifytime').dirty && validateForm.get('lastmodifytime').errors">Please input lastmodifytime!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="6"><div >
      <button nz-button nzType="primary" type="submit" >Submit</button>
      <span> </span>
      <button nz-button nzType="primary" type="reset">Reset</button>
    <a routerLink="/order" nz-button nzType="primary">首页</a>
    </div>
    </nz-form-control>
  </nz-form-item>
</form>
<router-outlet></router-outlet>
