<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="margin: auto;height: 100%;width:100% ">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="id" nzRequired>
          <span>
           ID
            <i nz-icon nz-tooltip nzTitle="What do you want other to call you" type="question-circle"
               theme="outline"></i>
          </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="id" formControlName="id" [placeholder]="orderItem?.id">
      <nz-form-explain *ngIf="validateForm.get('id').dirty && validateForm.get('id').errors">Please input your id!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="orderId" nzRequired> orderId</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input formControlName="orderId" id="'orderId'" nz-input [placeholder]="orderItem?.orderId">
      <nz-form-explain *ngIf="validateForm.get('orderId').dirty && validateForm.get('orderId').errors">Please input your
        orderId !
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark" nzRequired>Remark</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="remark" formControlName="remark" [placeholder]="orderItem?.remark">
      <nz-form-explain *ngIf="validateForm.get('remark').dirty && validateForm.get('remark').errors">Please input
        website!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sourceType" nzRequired> sourceType</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="sourceType" formControlName="sourceType" [placeholder]="orderItem?.sourceType">
      <nz-form-explain *ngIf="validateForm.get('sourceType').dirty && validateForm.get(' sourceType').errors">Please
        input sourceType!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sourceId" nzRequired> SourceId</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="sourceId" formControlName="sourceId" [placeholder]="orderItem?.sourceId">
      <nz-form-explain *ngIf="validateForm.get('sourceId').dirty && validateForm.get('sourceId').errors">Please input
        sourceId!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="createTime" nzRequired>createTime</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-date-picker formControlName="createTime"></nz-date-picker>
      <nz-form-explain *ngIf="validateForm.get('createTime').dirty && validateForm.get('createTime').errors">Please
        input createTime!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="productType" [nzRequired]>productType</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="productType" formControlName="productType" [placeholder]="orderItem?.productType">
      <nz-form-explain *ngIf="validateForm.get('productType').dirty && validateForm.get('productType').errors">Please
        input productType!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastModifyTime" nzRequired>lastModifyTime</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-date-picker formControlName="lastModifyTime"></nz-date-picker>
      <nz-form-explain *ngIf="validateForm.get('lastModifyTime').dirty && validateForm.get('lastModifyTime').errors">
        Please input lastModifyTime!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <div>
        <button nz-button nzType="primary" type="submit">Submit</button>
        <span> </span>
        <button nz-button nzType="primary" type="reset">Reset</button>
        <a routerLink="/order" nz-button nzType="primary">首页</a>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
<router-outlet></router-outlet>
